@import url("https://fonts.googleapis.com/css?family=Raleway:500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    width: 100%;
}

.fu {
    width: 100%;
}

.zi {
    width: calc(100%+20px);
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    background: url(/img/bac.jpg) no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    float: left;
    width: 250px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header button {
    float: right;
    -webkit-appearance: none;
    background: none;
    border: 1px solid #FFF;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    font: 1em Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 40px;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    margin-top: 30px;
    margin-right: 15px;
}

.headerbutton:hover {
    color: #f27506;
    background-color: #FFF;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100%;
    }
}

.jiaohu {
    margin-top: 200px;
}

@media screen and (max-width:750px) {
    body {
        background: url(/img/shoujibac.jpg) no-repeat;
        background-size: cover;
    }
    .logo {
        float: left;
        width: 180px;
        height: 70px;
        margin-left: -10px;
    }
    .header button {
        width: 70px;
        height: 30px;
        margin-top: 22px;
        font-size: 12px;
    }
}

.xiazai {
    position: absolute;
    top: 300PX;
    left: 200PX;
}

.chahua .duihua {
    position: absolute;
    top: 150px;
    left: 800px;
}

.yang {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 730px;
}

.mao {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 105px;
    left: 1210px;
}

.gou {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 470px;
    left: 980px;
}

.duihua {
    width: 500px;
    height: 500px;
}

.xiazai button {
    width: 100px;
    height: 50px;
    border: 2px solid #FFF;
    font-size: 12px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    background: none;
    color: #fff;
    margin-right: 20px;
}

.xiazai button:hover {
    color: #f27506;
    background-color: #fff;
}

.di {
    height: 300px;
    background-color: black;
    margin-top: 700px;
}

.zuo {
    width: 700px;
    color: #FFF;
    padding: 20px;
}

.zuo dl {
    margin-right: 50px;
    float: left;
}

.zuo :nth-child(1) {
    margin-left: 30px;
}

dl dt {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #f27506;
}

.zuo a {
    font-size: 5px;
}

.wx,
.zfb {
    width: 130px;
    height: 140px;
}

.wx img {
    width: 100%;
    height: 100%;
}

.zfb img {
    width: 100%;
    height: 100%;
}

.you {
    float: right;
    margin-right: 200px;
}

.dilogo {
    width: 250px;
    height: 100px;
}

.dilogo img {
    width: 100%;
    height: 100%;
}

.ziti {
    color: #FFF;
    font-size: 12px;
    margin-left: 70px;
}